# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FileManager.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\School\Code Practice\C#\File Manager\FileManager\.idea\.idea.FileManager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
